.slider {
  margin-top: -245px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1200px;
  height: 380px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.container {
  display: grid;
  grid-template-columns: 20px, 20px;
  grid-template-rows: 100px 100px;
  grid-gap: 20px;
  
  
  align-items: center;

}

.blink {
  animation: blinker 2s step-start infinite;
  align-items: left;
  text-decoration:underline;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.imageCons {
  margin:-208px 20px -47px -550px ;
}

.blinkPosi {
  margin:20px -460px -20px 20px ;
}
